

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* Shared-style */

.display-flex{
    display: flex;
}
.orange{
    color:#FEA301;
}
.sky-blue{
    color:skyblue;
}
.blue-light{
    color:#05D4D5;
}
.dark-blue{
    color:#5D58EF;
}
.black{
    color:black;
}
.white{
    color:white;
}




/* Header-style */
/* Navbar-related-style */
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
nav.title{
    color: black;
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
}
.nav-btn{
    background-color: #FEA301;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}
.hum{
    display: none;
}

/* Banner-related-style */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
}
.banner-content{
    max-width: 640px;
    margin: 0 auto;
    
}


.banner-title{
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 0px;


}
 


.banner-description{
    color: black;
    font-size: 1.25rem;
    
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 47px;
    border-radius: 4px;
    border: none;


}
main{
    max-width: 1440px;
    margin: 0 auto;

}
/* Card-related-style */
.section-standard{
    background-image: url("../images/bg.png");
    
}
.card-name{
    text-align: center;
    color: #000000;
    font-weight: 800;
    font-size: 3rem;
}
.card-title{
    color: #202020;
    font-weight: 600;
    font-size: 1.5rem;

}
.card-description{
    color: #808080;
    font-weight: 400;
    font-size: 1rem;
}
.card-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 140px; 
    gap: 28px;
    
}
.card1{
    justify-items: center;
    text-align: center;
    padding: 30px 20px;
    border:none;
    border-radius:10px ;
    background: linear-gradient(to bottom, #DEF5FF 20%, white 20%);
    box-shadow:0 4px 30px 0 gray;

}
.card2{
    justify-items: center;
    text-align: center;
    padding: 30px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #FFF4DC 20%, white 20%);
    box-shadow:0 4px 30px 0px grey ;
}
.card3{
    justify-items: center;
    text-align: center;
    padding: 30px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #F2E8FF 20%, white 20%);
    box-shadow:0 4px 30px 0px grey ;
    
}
.card-btn{
    font-weight: 80;
    font-size: 1rem;
    border: none;
}
/* our-story-related-style */
.our-story{
text-align: center;
background:linear-gradient(to top,#eebb69,white), url("../images/bg.png");
    max-width: 1440px;
    height: 1018px;
    /* margin: 0 auto; */
}
.story-title{
    text-align: center;
    font-weight: 600;
    font-size: 2.8rem;
    color:#000000;
}
.box-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    gap:30px;
    
}
.box1{
    background-color: white;
    border-radius: 15px;
    justify-items: center;
    
}
.box1 img{
    border-radius: 15px;
}
.box1-content{
    padding-left: 25px;
}

.box-container2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap:30px;
    max-width: 600px;
    
}
.box-container2 > div{
    background-color: white;
    border-radius: 15px;
    justify-items: center;
    text-align: center;
}
.box-container2 img{
    border-radius: 15px;
}
.box-date{
    background-color: #05D4D5;
    color: white;
    width: 154px;
    height: 20px;
    border-radius: 20px;
    padding: 15px 10px;
    padding-left: 20px;

}
.btn-view{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}
.btn-view button{
    background-color: #000000;
    color: white;
    width: 190px;
    height: 50px;
    border-radius: 10px;
}

/* F00ter-related-style */

.footer{
    background-color:#01ACFD ;
    height: 519px;
    
}
.main-footer{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 100px 100px;
    
}
.footer-logo{
    filter: brightness(100%) invert(1);
}

@media screen and (max-width: 576px) {
    .navbar{
        border-bottom: 1px solid blueviolet;
    }
    .school, .nav-links, .nav-btn{
        display: block; 
        visibility: hidden;  
    }
    .hum{
        display: inline;
        
    }
    
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
        justify-items: center;
        margin: 0 auto;
        
        }
        .banner-img{
            width: 100%;
        }
        .banner-content{
            text-align: center;
        }
        .card-container{
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }
        .card-name{
        font-weight: 600;
        font-size: 2rem;}

        .our-story{
            width:fit-content;
        }
             
        .box1{
            display: none;
        }

        .box-container2{
            grid-template-columns: repeat(2, 1fr);
            width: 50%;
            height:auto;
            gap:5px;
        }
        .main-footer{
            flex-direction: column;
            
        }
        .footer{
            height: auto;
        }
}